<!--doc_info.html-->
{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
    <h2>{{ title }}</h2>
    <form method="get" class="search-form">
        {% csrf_token %}
        <div class="form-row">
            {{ filter.form }}
        </div>

        <div class="form-row">
            <button class="btn btn-primary" type="submit">Поиск</button>
            <a href="{% url 'doc_info' %}?pdf_only=true" class="btn btn-primary">PDF записи</a>
            <a href="{% url 'doc_info' %}" class="btn btn-secondary">Сбросить</a>
        </div>

    </form>
    {% render_table table %}
{% endblock %}
