<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test DatePicker</title>
    <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.min.css">
</head>
<body>
    <input type="text" id="datepicker">

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $("#datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "c-100:c+10"
            });
        });
    </script>
</body>
</html>
