/* authorization.css */
.form-container-auth {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выравниваем элементы вверху */
    min-height: 75vh;
    padding-top: 50px; /* Устанавливаем верхний отступ для поднятия формы */
}

.form-content-auth {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group-auth {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-label-auth {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.form-input-auth {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.btn-primary, .btn-secondary {
    margin-top: 15px;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}