/* Button styles */
.btn-primary, .btn-secondary {
    margin-top: 15px;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none; /* Убираем подчеркивание */
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
