/* Menu styles */
.menu {
    margin-right: 25px;
    display: flex;
    list-style-type: none;
    background-color: #f0f0f0; /* Светло-серый фон для меню */
}

.last {
    margin-left: auto; /* Отодвигаем элемент к правому краю */
}

.menu .last {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu .last a {
    margin-left: 15px;
}

.menu li {
    margin-right: 15px; /* Регулировка расстояния между пунктами меню */
}

.menu li a {
    display: block;
    padding: 10px 15px; /* Отступы внутри каждого пункта меню */
    text-decoration: none;
    color: #333; /* Тёмно-серый цвет текста */
    background-color: #fff; /* Белый фон для пунктов меню */
    border: 1px solid #ddd; /* Светло-серая рамка */
    border-radius: 5px; /* Закругление углов */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для эффекта при наведении */
}

.menu li a:hover {
    background-color: #007bff; /* Синий фон при наведении */
    color: #fff; /* Белый текст при наведении */
    border-color: #007bff; /* Синяя рамка при наведении */
}

